h1 {
  font-family: oswald;
  font-size: 70px;
  height: 70px;
  line-height: initial;
  margin-bottom: 30px;
  color: var(--color-accent);
}
p {
  font-family: 'oswald-light';
  font-weight: lighter;
  font-size: 2em;
}

.content {
  padding: 8px;
}
