h1 {
  font-family: oswald;
  font-size: 70px;
  min-height: 70px;
  line-height: initial;
  margin-bottom: 30px;
  color: var(--color-accent);
}
p {
  font-family: 'oswald-light';
  font-weight: lighter;
  font-size: 2em;
  line-height: 1em;
}

.content {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
}

.content .header {
  width: 100%;
}

// app-regular-grammars-view,
app-regular-grammars-list {
  width: 48%;
}
